# Object file
*.o

# Ada Library Information
*.ali

# GNAT auxiliary comple info
*.stderr
*.stdout
*.bexch
b__*.ad?
*.cgpr

# Execs
*.exe

# runtime parameter files
*.par
*.json
*.resp

dlod_compare.csv
dlod_ref.dat
lt.exe.parms
lte_results.csv

lt.exe.resp.*
lt.exe.par.*

# Excel temp/lock files
~$*.xlsm
~$*.xlsx
